<div class="Demo">
  <div class="Demo__header">
    <div class="Demo__header__logoContaner">
      <my-logo></my-logo>
    </div>
    <my-navbar></my-navbar>
  </div>
  <div class="Demo__body">
    <div class="Demo__body__titleWrapper">
      <my-title>Acceder</my-title>
    </div>
     <div class="Demo__body__form">
      <div class="Demo__body__form__inputs">
        <my-input label="Nombre de usuario"></my-input>
        <my-input label="Contraseña"></my-input>
      </div>
        <my-checkbox label="Recordar nombre de usuario"></my-checkbox>
        <my-button>Acceder</my-button>
        <my-a>¿Olvidó su nombre de usuario o contraseña?</my-a>
        <my-text>Las 'Cookies' deben estar habilitadas en su navegador</my-text>
        <div class="Demo__body__form__invited">
          <my-text>Algunos cursos permiten el acceso de invitados</my-text>
          <my-button>Entrar como invitado</my-button>
        </div>
    </div>
  </div>
  <my-footer-container>
    <div class="Demo__footer">
      <div class="Demo__footer__item"></div>
      <div class="Demo__footer__item">
        <my-content title="Calendario">
          <p>El nuevo campus virtual de Clínica Alemana de Santiago es mantenido por el Departamento de Informática Biomédica y está basado en la plataforma MOODLE. Para cualquier consulta dirigirse a nucleo@alemana.cl o campusvirtual@alemana.cl</p>
        </my-content>
      </div>
      <div class="Demo__footer__item">
        <my-content title="Departamento de Informática Biomédica">
          <p>Av. Manquehue 1337, piso 4, Vitacura, Santiago, Chile</p>
        </my-content>
      </div>
    </div>
  </my-footer-container>
</div>
